pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures

# VSCode
.cpcache/
.calva/
.clj-kondo/.cache
.nrepl-port
.lsp/
db.transit.json
